<template>
  <q-page class="q-pa-lg">
    <div class="row q-gutter-lg justify-center q-ma-lg">
      <q-list bordered class="rounded-borders" style="width: 600px">
        <q-item-label header class="text-weight-bold"> Cart</q-item-label>
        <q-item>
          <q-item-section top class="col-4 gt-sm">
            <q-item-label class="q-mt-sm text-weight-medium"
              >ชื่อสินค้า</q-item-label
            >
          </q-item-section>

          <q-item-section top class="row-2 gt-sm">
            <q-item-label class="q-mt-sm text-weight-medium">
              จำนวน
            </q-item-label>
          </q-item-section>
          <q-item-section top class="row-2 gt-sm">
            <q-item-label class="q-mt-sm text-weight-medium">
              ราคา
            </q-item-label>
          </q-item-section>

          <q-item-section top side class="row-2 gt-sm"> </q-item-section>
          <label></label>
        </q-item>
        <q-separator spaced />

        <q-item v-for="item in cart" :key="item.uid">
          <q-item-section top class="col-4 gt-sm">
            <q-item-label class="q-mt-sm text-weight-medium">{{
              item.name
            }}</q-item-label>
          </q-item-section>

          <q-item-section top class="row-2 gt-sm">
            <q-item-label class="q-mt-sm text-weight-medium">
              {{ item.quantity }}
            </q-item-label>
          </q-item-section>
          <q-item-section top class="row-2 gt-sm">
            <q-item-label class="q-mt-sm text-weight-medium">
              {{ item.price }}
            </q-item-label>
          </q-item-section>

          <q-item-section top side class="row-2 gt-sm">
            <div class="text-grey-8 q-gutter-xs">
              <q-btn
                class="gt-xs"
                size="12px"
                flat
                dense
                round
                @click="addToCart(item.uid, item.name, item.price)"
                icon="eva-plus-circle-outline"
              />
              <q-btn
                class="gt-xs"
                size="12px"
                flat
                dense
                round
                icon="eva-minus-circle-outline"
                @click="removeFromCart(item.uid)"
              />

              <q-btn
                class="gt-xs"
                size="12px"
                color="red"
                flat
                dense
                round
                @click="deleteFromCart(item.uid)"
                icon="eva-trash-2-outline"
              />
            </div>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section top class="col-2 gt-sm">
            <q-item-label class="q-mt-sm text-weight-medium"
              >วิธีการส่ง</q-item-label
            >
          </q-item-section>

          <q-item-section top class="row-3 gt-sm">
            <div class="q-gutter-sm q-px-md">
              <q-radio dense v-model="sendMethod" val="1" label="Reg" />
              <q-radio dense v-model="sendMethod" val="2" label="Ems" />
              <q-radio dense v-model="sendMethod" val="3" label="Kerry" />
            </div>
          </q-item-section>
          <q-item-section top class="row-2 gt-sm">
            <q-item-label class="q-mt-sm text-weight-medium"
              >{{ sendP }}
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item v-if="cartSize">
          <q-item-section top class="col-4 gt-sm">
            <q-item-label class="q-mt-sm text-weight-medium"
              >รวมทั้งหมด</q-item-label
            >
          </q-item-section>

          <q-item-section top class="row-2 gt-sm">
            <q-item-label class="q-mt-sm text-weight-medium">
              {{ cartSize }}
            </q-item-label>
          </q-item-section>
          <q-item-section top class="row-2 gt-sm">
            <q-item-label class="q-mt-sm text-weight-medium">
              {{ totalAmout + sendP }}
            </q-item-label>
          </q-item-section>

          <q-item-section top side class="row-2 gt-sm">
            <q-btn push glossy color="green" label="สั่งซื้อ" @click="order" />
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'CartPage',
  data() {
    return {
      sendMethod: '1',
      sendPrice: {
        '1': 30,
        '2': 50,
        '3': 70
      }
    }
  },
  computed: {
    cart() {
      return this.$store.getters['product/cart']
    },
    totalAmout() {
      return this.$store.getters['product/cartTotalAmount']
    },
    cartSize() {
      return this.$store.getters['product/cartSize']
    },
    sendP() {
      return this.sendPrice[this.sendMethod]
    }
  },
  methods: {
    addToCart(uid, name, price) {
      this.$store.dispatch('product/addToCart', {
        uid,
        name,
        price
      })
    },
    removeFromCart(uid) {
      this.$store.dispatch('product/removeFromCart', uid)
    },
    deleteFromCart(uid) {
      this.$store.dispatch('product/deleteFromCart', uid)
    },
    order() {
      this.$store.dispatch('product/order', this.sendMethod)
    }
  }
}
</script>

<style></style>
