<template>
  <q-page class="q-pa-lg">
    <div class="row q-gutter-md justify-start wrap">
      <div class="col-auto" v-for="i in products" :key="i.id">
        <item-card
          :name="i.name"
          :price="i.price"
          :image="i.image"
          :uid="i.id"
          :imgRef="i.imgRef"
        ></item-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import ItemCard from 'components/ItemCard.vue'
export default {
  name: 'PageIndex',
  components: {
    ItemCard
  },
  created() {
    this.$store.dispatch('product/fetchProduct')
  },
  computed: {
    products() {
      return this.$store.getters['product/products']
    }
  }
}
</script>
