<template>
  <q-page class="flex flex-center">
    <q-card class="q-pa-lg">
      <q-card-section>
        <div class="text-h6">LOGIN</div>
      </q-card-section>
      <q-form @submit="onSubmit" class="q-gutter-md" ref="loginForm">
        <q-input
          v-model="email"
          label="email"
          type="email"
          :rules="[val => (val && val.length > 0) || 'Please type Email']"
        />
        <q-input
          v-model="password"
          label="password"
          type="password"
          :rules="[
            val => (val && val.length >= 8) || 'Password lease 8 character'
          ]"
        />
        <div>
          <q-btn label="login" type="submit"></q-btn>
        </div>
      </q-form>
    </q-card>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      message: 'noob login',
      email: '',
      password: ''
    }
  },
  methods: {
    async onSubmit() {
      try {
        let Vform = await this.$refs.loginForm.validate()
        if (Vform) {
          let credential = {
            email: this.email,
            password: this.password
          }
          this.$store.dispatch('auth/signIn', credential)
        }
        // eslint-disable-next-line no-empty
      } catch (error) {}
    }
  }
}
</script>
