<template>
  <q-page class="q-pa-lg">
    <div class="row q-gutter-lg justify-center q-ma-lg">
      <q-table
        title="order list"
        :data="order"
        :columns="columns"
        row-key="id"
        no-data-label="-"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="id" :props="props">{{ props.row.id }}</q-td>
            <q-td key="cart" :props="props">
              product
              <q-btn
                dense
                round
                flat
                :icon="props.expand ? 'arrow_drop_up' : 'arrow_drop_down'"
                @click="props.expand = !props.expand"
              />
            </q-td>
            <q-td key="sendMethod" :props="props">{{
              sendName(props.row.sendMethod)
            }}</q-td>
            <q-td key="status" :props="props">{{
              getStatus(props.row.status)
            }}</q-td>
            <q-td key="price" :props="props">{{ props.row.totalPrice }}</q-td>
            <q-td key="trackId" :props="props">{{ props.row.trackId }}</q-td>
            <q-td key="orderDate" :props="props">{{
              formatDate(props.row.orderDate.toDate())
            }}</q-td>
          </q-tr>
          <q-tr v-show="props.expand" :props="props">
            <q-td colspan="100%">
              <div class="row text-center text-weight-medium">
                <div class="col-4">name</div>
                <div class="col-4">price</div>
                <div class="col-4">quantity</div>
              </div>
              <div
                v-for="item in props.row.products"
                :key="item.uid"
                class="row text-center"
              >
                <div class="col-4">
                  {{ item.name }}
                </div>
                <div class="col-4">
                  {{ item.price }}
                </div>
                <div class="col-4">
                  {{ item.quantity }}
                </div>
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { date } from 'quasar'
const status = {
  1: 'รอจ่ายเงิน',
  2: 'รอคอนเฟิม',
  3: 'รอส่งของ',
  4: 'รอรับของ'
}
export default {
  components: {},
  created() {
    this.$store.dispatch('order/fetchOrder')
  },
  data() {
    return {
      columns: [
        {
          name: 'id',
          required: true,
          label: 'Order UID',
          align: 'left',
          field: 'id',
          format: val => `${val}`
        },
        { name: 'cart', label: 'สินค้า', field: 'cart' },
        { name: 'sendMethod', label: 'วิธีส่ง', field: 'sendMethod' },
        {
          name: 'status',
          label: 'status',
          field: 'status',
          format: val => status[val]
        },
        { name: 'price', label: 'price', field: 'totalPrice' },
        {
          name: 'trackId',
          label: 'trackId',
          field: 'trackId'
        },
        {
          name: 'orderDate',
          label: 'orderDate',
          field: 'orderDate'
        }
      ]
    }
  },
  computed: {
    order() {
      return this.$store.getters['order/order']
    }
  },
  methods: {
    getStatus(id) {
      return status[id]
    },
    formatDate(dt) {
      return date.formatDate(dt, 'mm:H DD-MM-YY')
    },
    sendName(m) {
      if (m === '1') {
        return 'Reg'
      } else if (m === '2') {
        return 'Ems'
      } else if (m === '3') {
        return 'Kerry'
      } else {
        return ''
      }
    }
  }
}
</script>
