<template>
  <q-page class="q-pa-lg">
    <div class="row q-gutter-lg justify-center q-ma-lg">
      <q-table
        title="order list"
        :data="order"
        :columns="columns"
        row-key="id"
        no-data-label="-"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="id" :props="props">{{ props.row.id }}</q-td>
            <q-td key="cart" :props="props">
              product
              <q-btn
                dense
                round
                flat
                :icon="props.expand ? 'arrow_drop_up' : 'arrow_drop_down'"
                @click="props.expand = !props.expand"
              />
            </q-td>
            <q-td key="price" :props="props">{{ props.row.totalPrice }}</q-td>
            <q-td
              ><q-btn label="pay" @click="test(props.row.id)"></q-btn>
            </q-td>
          </q-tr>
          <q-tr v-show="props.expand" :props="props">
            <q-td colspan="100%">
              <div class="row text-center text-weight-medium">
                <div class="col-4">name</div>
                <div class="col-4">price</div>
                <div class="col-4">quantity</div>
              </div>
              <div
                v-for="item in props.row.products"
                :key="item.uid"
                class="row text-center"
              >
                <div class="col-4">
                  {{ item.name }}
                </div>
                <div class="col-4">
                  {{ item.price }}
                </div>
                <div class="col-4">
                  {{ item.quantity }}
                </div>
              </div>
            </q-td>
          </q-tr>
          <q-tr v-show="props.expand" :props="props">
            <q-td><q-badge>วิธีส่ง </q-badge></q-td>
            <q-td
              ><q-badge>{{ sendName(props.row.sendMethod) }} </q-badge></q-td
            >
          </q-tr>
        </template>
      </q-table>
    </div>
    <div class="row q-gutter-lg justify-center q-ma-lg">
      <q-form v-if="payId" @submit="onSubmit" ref="pay">
        <q-banner dense class="bg-primary text-white">ใบสั่งซื้อ</q-banner>
        <q-badge>pay date</q-badge>
        <q-input filled v-model="date">
          <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy transition-show="scale" transition-hide="scale">
                <q-date v-model="date" mask="YYYY-MM-DD HH:mm" />
              </q-popup-proxy>
            </q-icon>
          </template>

          <template v-slot:append>
            <q-icon name="access_time" class="cursor-pointer">
              <q-popup-proxy transition-show="scale" transition-hide="scale">
                <q-time v-model="date" mask="YYYY-MM-DD HH:mm" format24h />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-badge>pay slip</q-badge>
        <q-input
          type="file"
          filled
          accept="image/*"
          hine="product image"
          @change="slipUpload"
        ></q-input>
        <q-btn label="สั่งซื้อ" color="blue" type="submit"></q-btn>
      </q-form>
    </div>
  </q-page>
</template>

<script>
export default {
  created() {
    this.$store.dispatch('order/fetchPayOrder')
  },
  data() {
    return {
      columns: [
        {
          name: 'id',
          required: true,
          label: 'Order UID',
          align: 'left',
          field: 'id',
          format: val => `${val}`
        },
        { name: 'cart', label: 'สินค้า', field: 'cart' },
        { name: 'price', label: 'price', field: 'totalPrice' }
      ],
      date: new Date(),
      payId: null,
      slip: null
    }
  },
  computed: {
    order() {
      return this.$store.getters['order/payOrder']
    }
  },
  methods: {
    test(id) {
      this.payId = id
    },
    sendName(m) {
      if (m === '1') {
        return 'Reg'
      } else if (m === '2') {
        return 'Ems'
      } else if (m === '3') {
        return 'Kerry'
      } else {
        return ''
      }
    },
    slipUpload(pic) {
      this.slip = pic.target.files[0]
    },
    async onSubmit() {
      try {
        if (this.slip) {
          let uploadSnapshot = await this.$firebase
            .storage()
            .ref()
            .child('pay_slip/' + this.generateUUID())
            .put(this.slip)
          var imgUrl = await uploadSnapshot.ref.getDownloadURL()
          var imgRef = await uploadSnapshot.ref.fullPath

          await this.$firebase
            .firestore()
            .collection('Order')
            .doc(this.payId)
            .update({
              slipImg: imgUrl,
              status: 2,
              slipRef: imgRef,
              payData: new Date(this.date)
            })
          this.payId = null
          this.slip = null
          this.$store.dispatch('order/fetchPayOrder')
        } else {
          alert('upload image!')
        }
      } catch (error) {
        console.log(error)
      }
    },
    generateUUID() {
      // Public Domain/MIT
      var d = new Date().getTime() //Timestamp
      var d2 = (performance && performance.now && performance.now() * 1000) || 0 //Time in microseconds since page-load or 0 if unsupported
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(
        c
      ) {
        var r = Math.random() * 16 //random number between 0 and 16
        if (d > 0) {
          //Use timestamp until depleted
          r = (d + r) % 16 | 0
          d = Math.floor(d / 16)
        } else {
          //Use microseconds since page-load if supported
          r = (d2 + r) % 16 | 0
          d2 = Math.floor(d2 / 16)
        }
        return (c === 'x' ? r : (r & 0x3) | 0x8).toString(16)
      })
    }
  }
}
</script>

<style></style>
