<template>
  <q-page class="flex flex-center">
    <q-card
      class="my-card text-white"
      style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)"
    >
      <q-card-section>
        <div class="text-h6">Register</div>
      </q-card-section>
      <div class="q-pa-md" style="max-width: 400px">
        <q-form @submit="onSubmit" class="q-gutter-md" ref="regisForm">
          <q-input
            dark
            filled
            v-model="email"
            label="email"
            type="email"
            :rules="[val => (val && val.length > 0) || 'Please type Email']"
          />
          <q-input
            dark
            filled
            v-model="password"
            label="password"
            type="password"
            :rules="[
              val => (val && val.length >= 8) || 'Password lease 8 character'
            ]"
          />
          <q-input
            dark
            filled
            v-model="name"
            label="name"
            :rules="[val => (val && val.length > 0) || 'Please type something']"
          />
          <q-input
            dark
            filled
            v-model="tel"
            label="tel"
            type="tel"
            :rules="[val => (val && val.length > 0) || 'Please type something']"
          />
          <q-input
            dark
            filled
            v-model="address"
            label="address"
            type="textarea"
            :rules="[val => (val && val.length > 0) || 'Please type something']"
          />
          <div>
            <q-btn label="register" type="submit"></q-btn>
          </div>
        </q-form>
      </div>
    </q-card>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      name: '',
      tel: '',
      address: ''
    }
  },
  methods: {
    async onSubmit() {
      try {
        let Vform = await this.$refs.regisForm.validate()
        if (Vform) {
          let user = await this.$firebase
            .auth()
            .createUserWithEmailAndPassword(this.email, this.password)
          await this.$firebase
            .firestore()
            .collection('Customers')
            .doc(user.user.uid)
            .set({
              name: this.name,
              address: this.address,
              tel: this.tel,
              role: 'user'
            })
          this.$router.push({ path: '/' })
        }
        // eslint-disable-next-line no-empty
      } catch (error) {}
    }
  }
}
</script>
