<template>
  <q-btn class="self-center" label="Add Product" color="green">
    <q-menu>
      <div class="row no-wrap q-pa-md ">
        <q-form class="column q-gutter-md" @submit="onSubmit" ref="product">
          <q-input
            label="name"
            v-model="name"
            :rules="[val => (val && val.length > 0) || 'Please type some name']"
          />
          <q-input
            label="price"
            v-model.number="price"
            type="number"
            :rules="[val => (val && val > 0) || 'Please enter price']"
          />
          <q-input
            type="file"
            filled
            accept="image/*"
            hine="product image"
            @input="
              val => {
                image = val[0]
              }
            "
          ></q-input>
          <q-btn label="add" color="blue" type="submit"></q-btn>
        </q-form>
      </div>
    </q-menu>
  </q-btn>
</template>

<script>
export default {
  data() {
    return {
      name: '',
      price: 0,
      image: null,
      storageRef: this.$firebase.storage().ref(),
      imgPath: null
    }
  },
  methods: {
    async onSubmit() {
      try {
        let uploadSnapshot = await this.$firebase
          .storage()
          .ref()
          .child('slip/' + this.generateUUID())
          .put(this.image)
        var imgUrl = await uploadSnapshot.ref.getDownloadURL()
        var imgRef = await uploadSnapshot.ref.fullPath

        await this.$firebase
          .firestore()
          .collection('Product')
          .add({
            name: this.name,
            price: this.price,
            image: imgUrl,
            imgRef: imgRef
          })
        this.$q.notify('Add product ', this.name)
        this.$store.dispatch('product/fetchProduct')
        this.name = ''
        this.price = 0
        this.image = null
        this.imgPath = null
      } catch (error) {
        this.$q.notify(error)
      }
    },
    generateUUID() {
      // Public Domain/MIT
      var d = new Date().getTime() //Timestamp
      var d2 = (performance && performance.now && performance.now() * 1000) || 0 //Time in microseconds since page-load or 0 if unsupported
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(
        c
      ) {
        var r = Math.random() * 16 //random number between 0 and 16
        if (d > 0) {
          //Use timestamp until depleted
          r = (d + r) % 16 | 0
          d = Math.floor(d / 16)
        } else {
          //Use microseconds since page-load if supported
          r = (d2 + r) % 16 | 0
          d2 = Math.floor(d2 / 16)
        }
        return (c === 'x' ? r : (r & 0x3) | 0x8).toString(16)
      })
    }
  }
}
</script>

<style></style>
