<template>
  <div class="q-gutter-md q-mx-lg">
    <q-btn push label="product" to="/admin/product" />
    <q-btn push label="Order" to="/admin" />
  </div>
</template>

<script>
export default {}
</script>
