<template>
  <div class="q-pa-md row items-start q-gutter-md wrap">
    <q-card class="my-card ">
      <q-img :src="image" style="height: 300px; width: 300px"> </q-img>
      <q-card-section>
        <div>
          <div class="text-h6">{{ name }}</div>
          <div class="text-subtitle2">ราคา {{ price }}</div>
        </div>
      </q-card-section>
      <q-card-actions align="around" v-if="isAdmin">
        <!-- <q-separator vertical inset /> -->
        <!-- <q-btn flat icon="eva-edit-outline"></q-btn> -->
        <q-btn
          flat
          color="red"
          icon="eva-trash-2-outline"
          @click="deleteProduct(uid, imgRef)"
        ></q-btn>
      </q-card-actions>
      <q-card-actions align="around" v-else-if="isAuth && !isAdmin">
        <q-btn
          flat
          icon="eva-plus-circle-outline"
          @click="addToCart(uid, name, price)"
        ></q-btn>
        <q-separator vertical inset />
        <q-btn
          flat
          color="red"
          icon="eva-minus-circle-outline"
          @click="removeFromCart(uid)"
        ></q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  props: ['uid', 'name', 'price', 'image', 'imgRef'],
  methods: {
    deleteProduct(uid, imgRef) {
      // console.log(uid, imgRef)
      this.$store.dispatch('product/delProduct', { uid, imgRef })
    },
    addToCart(uid, name, price) {
      this.$store.dispatch('product/addToCart', {
        uid,
        name,
        price
      })
    },
    removeFromCart(uid) {
      this.$store.dispatch('product/removeFromCart', uid)
    }
  },
  computed: {
    isAdmin() {
      return this.$store.getters['auth/isAdmin']
    },
    isAuth() {
      return this.$store.getters['auth/isAuth']
    }
  }
}
</script>
