<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import firebase from 'firebase/app'
export default {
  name: 'App',
  preFetch(context) {
    return new Promise(
      firebase.auth().onAuthStateChanged(user => {
        if (user) {
          firebase
            .firestore()
            .collection('Customers')
            .doc(user.uid)
            .get()
            .then(userInfo => {
              const userData = { ...userInfo.data(), ...user.toJSON() }
              // console.log(userData)
              context.store.commit('auth/SET_USER', userData)
            })
            .then(() => {
              context.redirect('/')
            })

          // context.store.commit('auth/SET_USER', user.toJSON())
        } else {
          context.store.commit('auth/RESET_USER')
          context.redirect('/login')
        }
      })
    )
  }
}
</script>
