<template>
  <q-layout view="lHh Lpr lFf" class="bg-blue-grey-4">
    <q-header elevated>
      <q-toolbar>
        <q-btn flat dense round icon="eva-home" aria-label="Menu" to="/" />
        <q-toolbar-title> ชาละวัน กล่องพัสดุ </q-toolbar-title>
        <admin-menu v-if="isAdmin" />
        <div class="q-gutter-md" v-if="!isAuth">
          <q-btn label="register" color="green" to="/register" />
          <q-btn label="login" color="green" to="/login" />
        </div>
        <div class="q-gutter-md" v-else>
          <q-btn
            v-if="!isAdmin"
            push
            color="white"
            text-color="primary"
            icon="eva-shopping-cart-outline"
            @click="$router.push('/cart')"
          >
            <q-badge color="orange" floating>{{ cartSize }}</q-badge>
          </q-btn>
          <q-btn
            v-if="!isAdmin"
            label="pay"
            icon="eva-credit-card-outline"
            push
            @click="$router.push('/pay')"
          ></q-btn>
          <q-btn
            v-if="!isAdmin"
            label="order info"
            push
            @click="$router.push('/order')"
          ></q-btn>
          <q-chip clickable square>
            <q-avatar>
              <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
            </q-avatar>
            {{ user.email }}
          </q-chip>
          <q-btn label="logout" color="green" @click="logout" />
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import AdminMenu from 'components/AdminMenu.vue'

export default {
  name: 'MyLayout',
  components: {
    AdminMenu
  },
  data() {
    return {}
  },
  computed: {
    isAuth() {
      return this.$store.getters['auth/isAuth']
    },
    user() {
      return this.$store.getters['auth/user']
    },
    isAdmin() {
      return this.$store.getters['auth/isAdmin']
    },
    cartSize() {
      return this.$store.getters['product/cartSize']
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/signOut')
      this.$router.push('/login')
    }
  }
}
</script>
