<template>
  <q-page class="q-pa-lg">
    <div class=" column justify-start items-start content-center q-gutter-lg">
      <q-table
        title="รอจ่าย"
        :columns="waitCol"
        :data="waitOrder"
        style="width: 900px"
        class="col content-center"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="id" :props="props">
              {{ props.row.id }}
            </q-td>
            <q-td key="name" :props="props">
              {{ props.row.name }}
            </q-td>
            <q-td key="sendMethod" :props="props">{{
              sendName(props.row.sendMethod)
            }}</q-td>
            <q-td key="cart" :props="props">
              ดูสินค้า
              <q-btn
                dense
                round
                flat
                :icon="props.expand ? 'arrow_drop_up' : 'arrow_drop_down'"
                @click="props.expand = !props.expand"
              />
            </q-td>
            <q-td key="price" :props="props"
              ><q-badge> {{ props.row.totalPrice }}</q-badge></q-td
            >
            <q-td
              ><q-btn
                color="red"
                label="ยกเลิก"
                @click="cancelOrder(props.row.id)"
              ></q-btn>
            </q-td>
          </q-tr>
          <q-tr v-show="props.expand" :props="props">
            <q-td colspan="100%">
              <div class="row text-center text-weight-medium">
                <div class="col-4">name</div>
                <div class="col-4">price</div>
                <div class="col-4">quantity</div>
              </div>
              <div
                v-for="item in props.row.products"
                :key="item.uid"
                class="row text-center"
              >
                <div class="col-4">
                  {{ item.name }}
                </div>
                <div class="col-4">
                  {{ item.price }}
                </div>
                <div class="col-4">
                  {{ item.quantity }}
                </div>
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>

      <q-table
        title="รอเช็ค"
        :columns="payCol"
        :data="payOrder"
        style="width: 900px"
        class="col content-center"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="id" :props="props">
              {{ props.row.id }}
            </q-td>
            <q-td key="name" :props="props">
              {{ props.row.name }}
            </q-td>
            <q-td key="cart" :props="props">
              ดูสินค้า
              <q-btn
                dense
                round
                flat
                :icon="props.expand ? 'arrow_drop_up' : 'arrow_drop_down'"
                @click="props.expand = !props.expand"
              />
            </q-td>
            <q-td key="price" :props="props"
              ><q-badge> {{ props.row.totalPrice }}</q-badge></q-td
            >
            <q-td key="slipImg" :props="props">
              <q-btn label="pic">
                <q-menu>
                  <div class="col-12 q-pa-md">
                    <q-img
                      spinner-color="white"
                      :src="props.row.slipImg"
                      style="height: 500px; width: 500px"
                    />
                  </div>
                </q-menu>
              </q-btn>
            </q-td>
            <q-td
              ><q-btn
                color="green"
                label="comfirm"
                @click="cm(props.row.id)"
              ></q-btn>
              <q-btn
                color="red"
                label="ยกเลิก"
                @click="cancelOrder(props.row.id)"
              ></q-btn>
            </q-td>
          </q-tr>
          <q-tr v-show="props.expand" :props="props">
            <q-td colspan="100%">
              <div class="row text-center text-weight-medium">
                <div class="col-4">name</div>
                <div class="col-4">price</div>
                <div class="col-4">quantity</div>
              </div>
              <div
                v-for="item in props.row.products"
                :key="item.uid"
                class="row text-center"
              >
                <div class="col-4">
                  {{ item.name }}
                </div>
                <div class="col-4">
                  {{ item.price }}
                </div>
                <div class="col-4">
                  {{ item.quantity }}
                </div>
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>

      <q-table
        title="รอส่ง"
        :columns="sendCol"
        :data="sendOrder"
        style="width: 900px"
        class="col content-center"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="id" :props="props">
              {{ props.row.id }}
            </q-td>
            <q-td key="name" :props="props">
              {{ props.row.name }}
            </q-td>
            <q-td key="sendMethod" :props="props">{{
              sendName(props.row.sendMethod)
            }}</q-td>
            <q-td key="cart" :props="props">
              ดูสินค้า
              <q-btn
                dense
                round
                flat
                :icon="props.expand ? 'arrow_drop_up' : 'arrow_drop_down'"
                @click="props.expand = !props.expand"
              />
            </q-td>
            <q-td key="price" :props="props"
              ><q-badge> {{ props.row.totalPrice }}</q-badge></q-td
            >
            <q-td key="address" :props="props"
              ><q-badge> {{ props.row.address }}</q-badge></q-td
            >

            <q-td
              ><q-btn
                color="green"
                label="ส่งของ"
                @click="sendTrackOrder(props.row.id)"
              ></q-btn>
              <q-btn
                color="red"
                label="ยกเลิก"
                @click="cancelOrder(props.row.id)"
              ></q-btn>
            </q-td>
          </q-tr>
          <q-tr v-show="props.expand" :props="props">
            <q-td colspan="100%">
              <div class="row text-center text-weight-medium">
                <div class="col-4">name</div>
                <div class="col-4">price</div>
                <div class="col-4">quantity</div>
              </div>
              <div
                v-for="item in props.row.products"
                :key="item.uid"
                class="row text-center"
              >
                <div class="col-4">
                  {{ item.name }}
                </div>
                <div class="col-4">
                  {{ item.price }}
                </div>
                <div class="col-4">
                  {{ item.quantity }}
                </div>
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>

      <q-table
        title="ส่งแล้ว"
        :columns="receiveCol"
        :data="receiveOrder"
        style="width: 900px"
        class="col content-center"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="id" :props="props">
              {{ props.row.id }}
            </q-td>
            <q-td key="name" :props="props">
              {{ props.row.name }}
            </q-td>
            <q-td key="sendMethod" :props="props">{{
              sendName(props.row.sendMethod)
            }}</q-td>
            <q-td key="cart" :props="props">
              ดูสินค้า
              <q-btn
                dense
                round
                flat
                :icon="props.expand ? 'arrow_drop_up' : 'arrow_drop_down'"
                @click="props.expand = !props.expand"
              />
            </q-td>
            <q-td key="price" :props="props"
              ><q-badge> {{ props.row.totalPrice }}</q-badge></q-td
            >
            <q-td key="address" :props="props"
              ><q-badge> {{ props.row.address }}</q-badge></q-td
            >
          </q-tr>
          <q-tr v-show="props.expand" :props="props">
            <q-td colspan="100%">
              <div class="row text-center text-weight-medium">
                <div class="col-4">name</div>
                <div class="col-4">price</div>
                <div class="col-4">quantity</div>
              </div>
              <div
                v-for="item in props.row.products"
                :key="item.uid"
                class="row text-center"
              >
                <div class="col-4">
                  {{ item.name }}
                </div>
                <div class="col-4">
                  {{ item.price }}
                </div>
                <div class="col-4">
                  {{ item.quantity }}
                </div>
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'adminMain',
  data() {
    return {
      waitCol: [
        { name: 'id', label: 'Order ID', align: 'center', field: 'id' },
        { name: 'name', label: 'customer', align: 'center', field: 'name' },
        { name: 'sendMethod', label: 'วิธีส่ง', field: 'sendMethod' },
        { name: 'cart', label: 'products', field: 'cart' },
        { name: 'price', label: 'price', field: 'totalPrice' }
      ],
      payCol: [
        { name: 'id', label: 'Order ID', align: 'center', field: 'id' },
        { name: 'name', label: 'customer', align: 'center', field: 'name' },
        { name: 'cart', label: 'products', field: 'cart' },
        { name: 'price', label: 'price', field: 'totalPrice' },
        { name: 'slipImg', label: 'slip', field: 'slipImg' }
      ],
      sendCol: [
        { name: 'id', label: 'Order ID', align: 'center', field: 'id' },
        { name: 'name', label: 'customer', align: 'center', field: 'name' },
        { name: 'sendMethod', label: 'วิธีส่ง', field: 'sendMethod' },
        { name: 'cart', label: 'products', field: 'cart' },
        { name: 'price', label: 'price', field: 'totalPrice' },
        { name: 'address', label: 'address', field: 'address', align: 'center' }
        // { name: 'slipImg', label: 'slip', field: 'slipImg' }
      ],
      receiveCol: [
        { name: 'id', label: 'Order ID', align: 'center', field: 'id' },
        { name: 'name', label: 'customer', align: 'center', field: 'name' },
        { name: 'sendMethod', label: 'วิธีส่ง', field: 'sendMethod' },
        { name: 'cart', label: 'products', field: 'cart' },
        { name: 'price', label: 'price', field: 'totalPrice' },
        { name: 'address', label: 'address', field: 'address', align: 'center' }
        // { name: 'slipImg', label: 'slip', field: 'slipImg' }
      ]
    }
  },
  created() {
    this.$store.dispatch('admin/fetchOrder')
  },
  computed: {
    ...mapGetters({
      waitOrder: 'admin/waitOrder',
      payOrder: 'admin/payOrder',
      sendOrder: 'admin/sendOrder',
      receiveOrder: 'admin/receiveOrder'
    })
  },
  methods: {
    cm(id) {
      this.$firebase
        .firestore()
        .collection('Order')
        .doc(id)
        .update({
          status: 3,
          confirmDate: new Date()
        })
        .then(() => {
          this.$store.dispatch('admin/fetchOrder')
        })
    },
    cancelOrder(id) {
      this.$firebase
        .firestore()
        .collection('Order')
        .doc(id)
        .delete()
        .then(() => {
          this.$store.dispatch('admin/fetchOrder')
        })
    },
    sendTrackOrder(id) {
      let ans = prompt('track ID')
      if (ans) {
        this.$firebase
          .firestore()
          .collection('Order')
          .doc(id)
          .update({
            trackId: ans,
            sendDate: new Date(),
            status: 4
          })
          .then(() => {
            this.$store.dispatch('admin/fetchOrder')
          })
      } else {
        alert('fail', id)
      }
    },
    sendName(m) {
      if (m === '1') {
        return 'Reg'
      } else if (m === '2') {
        return 'Ems'
      } else if (m === '3') {
        return 'Kerry'
      } else {
        return ''
      }
    }
  }
}
</script>

<style></style>
