<template>
  <q-page class="q-pa-lg">
    <div class="row q-gutter-lg justify-start ">
      <div class="col-12 self-center">
        <q-btn label="test" @click="test" />
        <add-product></add-product>
      </div>
      <div class="col-auto" v-for="i in products" :key="i.id">
        <item-card
          :name="i.name"
          :price="i.price"
          :image="i.image"
          :uid="i.id"
          :imgRef="i.imgRef"
        ></item-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import ItemCard from 'components/ItemCard.vue'
import AddProduct from 'components/AddProduct.vue'
export default {
  name: 'product',
  components: {
    ItemCard,
    AddProduct
  },
  data() {
    return {
      pName: '',
      pPrice: 0,
      image: null
    }
  },
  watch: {},
  methods: {
    async test() {
      this.$q.notify('Message')
    },
    onSubmit() {},
    getAllProduct() {
      this.$store.dispatch('product/fetchProduct')
    }
  },
  created() {
    this.getAllProduct()
  },
  computed: {
    products() {
      return this.$store.getters['product/products']
    }
  }
}
</script>

<style></style>
